.wf-cl-1 {
    background-color: #3399CC;
}

.wf-cl-2 {
    background-color: #33CCCC;
}

.wf-cl-3 {
    background-color: #996699;
}

.wf-cl-4 {
    background-color: #C24747;
}

.wf-cl-5 {
    background-color: #E2674A;
}

.wf-cl-6 {
    background-color: #FFCC66;
}

.wf-cl-7 {
    background-color: #99CC99;
}

.wf-cl-8 {
    background-color: #669999;
}

.wf-cl-9 {
    background-color: #CC6699;
}

.wf-cl-10 {
    background-color: #339966;
}

.wf-cl-11 {
    background-color: #666699;
}